
@keyframes animatedBackground {
	from { background-position: 0 0; }
	to { background-position: 0 100%; }
}

@-webkit-keyframes animatedBackground {
	from { background-position: 0 0; }
	to { background-position: 0 100%; }
}

#css-zen-garden {

	background-image: url('images/bg1.gif');
	background-repeat: repeat;
	background-position: top left;
	background-attachment: scroll;
	color:white;

	animation: animatedBackground 40s linear infinite;
	-ms-animation: animatedBackground 40s linear infinite;
	-moz-animation: animatedBackground 40s linear infinite;
	-webkit-animation: animatedBackground 40s linear infinite;
}
h1{
	color:yellow;
}
