
@keyframes animatedBackground {
	from { background-position: 0 0; }
	to { background-position: 0 100%; }
}

@-webkit-keyframes animatedBackground {
	from { background-position: 0 0; }
	to { background-position: 0 100%; }
}

#css-zen-garden {

	background-image: url('images/bg1.gif');
	background-repeat: repeat;
	background-position: top left;
	background-attachment: scroll;
	color:white;

	animation: animatedBackground 40s linear infinite;
	-ms-animation: animatedBackground 40s linear infinite;
	-moz-animation: animatedBackground 40s linear infinite;
	-webkit-animation: animatedBackground 40s linear infinite;
}
h1{
	color:red;
	font-size: 50px;
}

h2{
	color:pink;
}

header{
	border: 3px solid red;
	height: 173px;
	overflow:auto;
}

h1, h2, h3, h4, h5 {
	font-family: "Comic Sans MS";
}

h2, h3, h4, h5 {
	text-align: center;
	font-size: 24px;
	color:yellow;
}
