
@keyframes animatedBackground {
	from { background-position: 0 0; }
	to { background-position: 0 100%; }
}

@-webkit-keyframes animatedBackground {
	from { background-position: 0 0; }
	to { background-position: 0 100%; }
}

@-webkit-keyframes marquee {
	from { left: 0; }
	to { left: 100%; }
}


#css-zen-garden {

	background-image: url('images/bg1.gif');
	background-repeat: repeat;
	background-position: top left;
	background-attachment: scroll;
	color:white;

	animation: animatedBackground 40s linear infinite;
	-ms-animation: animatedBackground 40s linear infinite;
	-moz-animation: animatedBackground 40s linear infinite;
	-webkit-animation: animatedBackground 40s linear infinite;
}

a:link, a:visited {
	color: yellow;
}

a:hover, a:active {
	color: bright-yellow;
}

h2 {

position: relative;

	-webkit-animation: marquee 1800ms linear infinite;

}


a:after {
	content: "";
	background: url(images/p-studiostore.gif);
	height: 71px;
	display: inline-block;
	width: 79px;
	position: relative;
	left: -40px;
	top: -20px;
};